# Xcode
*.xcodeproj/
!*.xcodeproj/project.xcworkspace/
xcuserdata/
*.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
DerivedData/
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# IDE
.idea/

# OS
.DS_Store
